{{#if successMessage}}
<div class="alert alert-success">
  {{successMessage}}
</div>
{{/if}}

{{#if errorMessage}}
<div class="alert alert-danger">
  {{errorMessage}}
</div>
{{/if}}

{{#if passportSuccess}}
<div class="alert alert-primary">
  {{passportSuccess}}
</div>
{{/if}}

{{#if passportFailure}}
<div class="alert alert-danger">
  {{passportFailure}}
</div>
{{/if}}